<h1> Welcome to Hangman </h1>
<h2> Guess a Letter </h2>
<h3>Lives:<%= @lives %> <br> <%= @context %> <br> <%= @word %></h3> <br>

<form action="/user_guess" method="POST">
    <input type="text" name="user_guess">
    <br/>
    <input type="submit">
</form>

<% if @play %>
	<%= @play %>
<% end %>